* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgoldenrod;
   
}
 

nav li {
text-align: right;
color: gold;
font-size: 77px;

}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: rgb(231, 216, 216); */
    color: rgb(97, 64, 64);
    padding: 20px;
    text-align: center;
  

}

a {
    color: gold;


}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: Assets/me.jpg; */
    color: #ffffff;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

main {
    padding: 20px;
    text-align: center;
    background-color: black;
}

.portfolio-item {
    background-color: black;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
}

.portfolio-item h2 {
    margin-top: 0;
}

.portfolio-item a {
    display: inline-block;
    margin-top: 10px;
    color: gold;
    text-decoration: none;
}

.portfolio-item a:hover {
    text-decoration: underline;
}

h1 {

    color: gold;


}

h2 {
    color: gold;
    /* border: #e1dcdc; */
    text-decoration: underline;
    font-size: 77px
    
}

h3 {
    color: gold;
    font-size: 27px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
text-align: center;
background-color:darkgoldenrod;

}

p {
font-size: 57px;
color: gold;
}